%p
  You've gotten an email from CareContent.com!
%h4 
  Name:
%p
  = @form_data["name"]
%h4 
  Title:
%p
  = @form_data["title"]
%h4 
  Hospital or health system name:
%p
  = @form_data["hospital_name"]
%h4 
  Hospital or health system location:
%p
  = @form_data["hospital_location"]
%h4 
  Email: 
%p
  = @form_data["email"]
%h4 
  Phone number:
%p
  = @form_data["phone_number"]
%h4 
  Content needs:
%p
  = @form_data["content_needs"]
%h4 
  Initial thoughts:
%p
  = @form_data["initial_thoughts"]
