.container
  #about
    .row
      .span3
        %ul.thumbnails
          %li.span3
            = image_tag("pediatrics.jpg")
        #mission
          %h3
            Our Mission
          %p
            We use web content to tell the stories of the human body; to explain the conditions that challenge it; and lead people to those who restore it.
      .span8#faq
        %h2
          What is CareContent?
        %p
          It's a reserve of web content that allows health care organizations to update website landing pages and feed e-newsletters. The growing reserve includes
          feature stories, quizzes, current news articles, and slide shows.
        %h2
          How does the service work?
        %ol
          %li
            Log in.
          %li
            Select the content you want for your website or e-newsletter. The content you select is guaranteed to be exclusive within your primary and secondary
            service area for one full year.
          %li
            Edit the content to your heart's delight. Use the "quick quote" prompts to add insights from your clinicians and leaders
            (or skip them, no pressure). Include information about your organization's programs and services, and add in photos. (We strongly recommend
            giving quoted sources the opportunity to review the content before publishing).
          %li
            Post it on your landing page or insert it in your e-newsletter.
          %li
            Don't forget to mention the new content on your social media vehicles. Tweet one of the added or post it as your organization's new Facebook status update.
        %h2
          Where do I sign up?
        %p
          Try it free for 30-days. (
          = link_to "kadesha@carecontent.com", "mailto:kadesha@carecontent.com", :target => "blank"
          ) After that, CareContent is available for a tiered monthly subscription, based on how much content is needed each month.
        %hr 
        %h2
          Where is the content?
        %p
          It's coming! We are eagerly developing our web content reserve to help you drive traffic and engage patients online. Meanwhile, we'd love to get your 
          insight on the type of content your hospital or health system needs for its landing pages and e-newsletters. Also, share your thoughts on what you've seen on
          the site so far, and we'll follow up to see how CareContent can meet your hospital or health system's web content needs.
        #contact_form
          = form_tag('/contact') do 
            .row#contact_person_info
              .span4
                %p Your Name:
                %p Your Title:
                %p Hospital or health system name:
                %p Hospital or health system location:
                %p Your email: 
                %p Your phone number:
              .span4
                = text_field_tag(:name)
                = text_field_tag(:title)
                = text_field_tag(:hospital_name)
                = text_field_tag(:hospital_location)
                = text_field_tag(:email)
                = text_field_tag(:phone_number)
            %p{:style=> "margin-top: 30px;"} 
              What is on your web content wish list? What does your organization want to promote online?
            = text_area_tag(:content_needs, nil, :rows => 7)
            %p{:style=> "margin-top: 30px;"}
              Share any initial thoughts you have so far: 
            = text_area_tag(:initial_thoughts, nil, :rows => 7)
            %p{:style=> "margin: 30px 0;"}
              Thanks! We look forward to following up with you.
            = submit_tag("Submit", :class => "btn btn-primary")


