.container
  #about
    .row
      .span3
        %ul.thumbnails
          %li.span3
            = image_tag("pediatrics.jpg")
        #mission
          %h3
            Our Mission
          %p
            We use web content to tell the stories of the human body; to explain the conditions that challenge it; and lead people to those who restore it.
        #about-social
          %ul.social
            %li= link_to(image_tag('facebook.png'), 'http://www.facebook.com/carecontent', :target => "blank")
            %li= link_to(image_tag('twitter.png'), 'http://www.twitter.com/carecontent', :target => "blank")
            %li= link_to(image_tag('email.png'), 'mailto:kadesha@carecontent.com', :target => "blank")
      .span8#faq
        %h2
          What is CareContent?
        %p
          It's a reserve of web content that allows health care organizations to update website landing pages and feed e-newsletters. The growing reserve includes
          feature stories, quizzes, current news articles, and slide shows.
        %h2
          How does the service work?
        %ol
          %li
            Log in.
          %li
            Select the content you want for your website or e-newsletter. The content you select is guaranteed to be exclusive within your primary and secondary
            service area for one full year.
          %li
            Edit the content to your heart's delight. Use the "quick quote" prompts to add insights from your clinicians and leaders
            (or skip them, no pressure). Include information about your organization's programs and services, and add in photos. (We strongly recommend
            giving quoted sources the opportunity to review the content before publishing).
          %li
            Post it on your landing page or insert it in your e-newsletter.
          %li
            Don't forget to mention the new content on your social media vehicles. Tweet one of the added or post it as your organization's new Facebook status update.
        %h2
          Where do I sign up?
        %p
          Try it free for 30-days. (
          = link_to "kadesha@carecontent.com", "mailto:kadesha@carecontent.com", :target => "blank"
          ) After that, CareContent is available for a tiered monthly subscription, based on how much content is needed each month.
        %hr 
        = render :partial => 'where_is_the_content'


