#hero
  .container
    .row
      #hero-tagline
        .span7
          %h1 
            Bring patients from the web to your waiting room.
          = link_to "Learn More", about_url, :class => "btn btn-primary btn-large"
        .span5
          = image_tag("http://placehold.it/380x292")
.container
  #hero-description
    .row
      .span12
        %p
          Hospitals and health systems need a steady stream of content to engage patients
          online. CareContent licenses a repository of customizable web content - health feature stories, patient quizzes,
          illustrations, current medical news articles, and more. Now, hospitals can efficiently publish patient e-newsletters,
          update landings pages and drive traffic from social media to their websites. Just select your content, add quotes from 
          your own clinicians, along with information about your organization's services and accolades. Then, publish.
  #hero-content
    .row 
      .span12
        %h3.hero
          CareContent covers what current and prospective patients are looking for online:
      .span3
        = image_tag("jobs-careers.jpg")
        .hero-categories
          %h3
            = link_to "Jobs and Careers", "#"
          %p
            Leverage traffic to one of your most visited landing pages. Give job search tips, while directing job seekers to your organization's services.
      .span3
        = image_tag("general-health.jpg")
        .hero-categories
          %h3
            = link_to "General Health/Medicine", "#"
          %p
            Keep patients engaged with new insights on medical care and staying healthy - all with your hospital's unique perspective. 
      .span3
        = image_tag("ortho.jpg")
        .hero-categories
          %h3
            = link_to "Orthopedics", "#"
          %p
            Discuss how your services can find the source of pain, restore impaired mobility and get patients back to living an active life. 
      .span3
        = image_tag("cancer-care.jpg")
        .hero-categories
          %h3
            = link_to "Cancer Care and Survivorship", "#"
          %p
            Tap into the challenges and triumphs of cancer care with content that answers questions, calms doubts, and lets patients know you're with them all the way.
    .row
      .span3
        = image_tag("cardiology.jpg", :width => "220px", :height => "145px")
        .hero-categories
          %h3
            = link_to "Cardiology Services", "#"
          %p
            When patients come to you about matters of the heart, keep them engaged by helping them understand their condition and how you can manage it together. 
      .span3
        = image_tag("obsterics.jpg")
        .hero-categories
          %h3
            = link_to "Obstetrics", "#"
          %p
            Expectant mothers come to you for one reason - to make sure everything is okay. Keep reassuring her or answering her questions, even when she's not there. 
      .span3
        = image_tag("neurology.jpg", :width => "220px", :height => "145px")
        .hero-categories
          %h3
            = link_to "Neurology Services", "#"
          %p
            The brain and nervous system are the compass and roadmap of every thought we have, every action we take. Show your web visitors that your neurology care is top notch.
      .span3
        = image_tag("pediatrics.jpg", :width => "220px", :height => "145px")
        .hero-categories
          %h3
            = link_to "Pediatrics", "#"
          %p
            Your organization's littlest patients are a big priority. Engage parents with content that shows you care about their little ones as much as they do.
    .row
      .span3
        = image_tag("plastic-surgery.jpg")
        .hero-categories
          %h3
            = link_to "Plastic Surgery", "#"
          %p
            Whether the procedure is aesthetic or reconstructive, assure patients that your clinicians can blend clinical expertise with an artist's finesse.
      .span3
        = image_tag("transplant.jpg")
        .hero-categories
          %h3
            = link_to "Transplant Services", "#"
          %p
            Families waiting for a transplant shouldn't have to also wait for info, advice and compassion. As the organization they trust with their lives, be there with them at every step.
      .span3
        = image_tag("sexual-repro.jpg")
        .hero-categories
          %h3
            = link_to "Sexual/Reproductive Health", "#"
          %p
            When your patients need help with such an intimate aspect of their health, respond with compelling content to address their concerns.
      .span3
        = image_tag("mental-health.jpg")
        .hero-categories
          %h3
            = link_to "Mental Health", "#"
          %p
            Share insight from your organization about helping patients achieve peace, confidence and independence.
  = link_to "Learn How To Start Using CareContent", about_url, :class => "btn btn-primary btn-large"

