#hero
  .container
    .row
      #hero-tagline
        .span7
          %h1 
            Bring patients from the web to your waiting room.
          = link_to "Learn More", about_url, :class => "btn btn-primary btn-large"
        .span5
          <iframe class="video-border" width="370" height="270" src="http://www.youtube.com/embed/-FeTrtuWOV4" frameborder="0" allowfullscreen></iframe>
.container
  #hero-description
    .row
      .span12
        %p
          Health care organizations need to engage patients online. Make it easy with CareContent's reserve of customizable, patient-focused content
          for e-newsletters, website landing pages, digital signage and social media.
    .row
      .span4
        .hero-benefit
          %p.bold
            Types of content:
          %ul
            %li
              News, features (650 words)
            %li
              Slideshows, quizzes (10 points)
            %li
              Patient videos (3 minutes)
      .span4
        .hero-benefit
          %p.bold
            Main benefits:
          %ul
            %li
              Save time on crafting content
            %li
              Save money on hiring writers
            %li
              Lower cost than other web content services
      .span4
        .hero-benefit
          %p.bold
            Additional features:
          %ul
            %li
              Updates for social media
            %li
              Service area exclusivity
            %li
              Concluding calls to action
#hero-email
  .container
    .row
      .span4
        %p.bold
          Get a free, full-length web feature: 
      .span8
        = render 'send_sample'

.container
  #hero-content
    .row 
      .span12
        %h3.hero
          See samples of CareContent's growing reserve:
      .span3
        = link_to(image_tag("general-health.jpg"), about_url)
        .hero-categories
          %h3
            = link_to "Health and Wellness", about_url 
          %p
            Share insights on staying healthy with the right lifestyle choices and medical services. 
      .span3
        = link_to(image_tag("cardiology.jpg", :width => "220px", :height => "145px"), about_url)
        .hero-categories
          %h3
            = link_to "Cardiology Services", about_url
          %p
            Help patients understand their heart condition and how you can manage it together. 
      .span3
        = link_to(image_tag("cancer-care.jpg"), about_url)
        .hero-categories
          %h3
            = link_to "Cancer Care and Survivorship", about_url 
          %p
            Offer content that explores the triumphs and challenges of cancer care.
      .span3
        = link_to(image_tag("ortho.jpg"), about_url)
        .hero-categories
          %h3
            = link_to "Orthopedics/Sports Medicine", about_url 
          %p
            Discuss how your services restore mobility and help patients back to an active life.
  = link_to "Learn More", about_url, :class => "btn btn-primary btn-large pull-right"

