#hero-pricing
  .container
    .row
      .span12.center
        %h2.bold
          Save time and money providing patients with engaging web content.
.container
  #pricing-options
    .row
      .span5
        %h3.center.orange
          A la Carte
        %p
          Get content as needed - events, emergencies or maybe when a team member is on vacation.
      .span6.offset1
        %h3.center.orange
          Annual Subscription
        %p
          Your web content strategy requires regular e-newsletters and updated web pages. Let's stop
          scrambling and make this easy.
    .row
      .span5
        #a-la-carte-pricing.shaded-box
          .row
            .span2
              %p.bold
                1 download
            .span1
              %p.green
                $200
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
          .row
            .span2
              %p.bold
                2 downloads
            .span1
              %p.green
                $250
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
          .row
            .span2
              %p.bold
                5 downloads
            .span1
              %p.green
                $550
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
          .row
            .span2
              %p.bold
                10 downloads
            .span1
              %p.green
                $1,000
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
          .row
            .span2
              %p.bold
                15 downloads
            .span1
              %p.green
                $1,350
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
      .span6.offset1
        #subscription-pricing.shaded-box
          .row
            .span3
              %p.bold
                5 downloads/mo
            .span2
              %p.green
                $500/mo
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
          .row
            .span3
              %p.bold
                10 downloads/mo
            .span2
              %p.green
                $900/mo
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
          .row
            .span3
              %p.bold
                20 downloads/mo
            .span2
              %p.green
                $1,700/mo
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
          .row
            .span3
              %p.bold
                30 downloads/mo
            .span2
              %p.green
                $2,400/mo
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'
          .row
            .span3
              %p.bold
                40 downloads/mo
            .span2
              %p.green
                $3,000/mo
            .span1
              = link_to "Choose", "#", :class => 'btn btn-primary'

  .faqs.shaded-box
    .row
      %h2
        Frequently Asked Questions about Pricing
      .span5
        %p.bold
          How much time do I have to use my content?
        %p
          One year.
        %p.bold
          If I subscribe, is there a fixed limit each month?
        %p
          No. There are only annual limits. The above figures are just
          to give you an idea on how much content is available in each package.
          Let's say your content package is 30 downloads per month. That's 360
          downloads for the year. If you get 90 downloads one month and nothing the
          next, go for it. You can change the subscription package at any time to 
          meet your need.
      .span5
        %p.bold 
          Is there an annual contract for subscribers?
        %p
          Yes. You can review it here.
        %p.bold
          How can I be sure the content is right for my health care organization?
        %p
          Try an a la carte package to browse our full reserve before subscribing.
          You can also customize the content and send content suggestions.
        %p.bold
          What if I need a larger content package?
        %p
          Contact Kadesha at 312-532-1362 or Kadesha@CareContent.com

