<div id="content_files">
<div class="container-fluid">
  <div class="row-fluid">
    <%= render :partial => 'sidebar' %>
    <div class="span10">
      <%= render :partial => 'layout_content_files', :locals => {:files => @content_files, :shade_of_box => 'not-downloaded', :count => 'true'}  %>
    </div>
  </div>
  <hr />
  <% unless @your_downloads.empty? %>
    <div class="row-fluid">
      <div class="span2">
        <ul class="nav nav-list">
          <li class="nav-header">
            <i class="icon-download"></i>
              Your Downloads 
          </li>
        </ul>
      </div>
      <div class="span10" id="downloads_section">
        <%= render :partial => 'layout_content_files', :locals => {:files => @your_downloads, :shade_of_box => 'downloaded', :count => 'false'} %>
      </div>
    </div>
  <% end %>
</div>


<div class="modal fade hide" id="myModal">
  <%= render 'users/registrations_edit' %>
</div>

<div class="modal fade hide" id="contactModal">
  <%= render 'pages/suggestions' %>
</div>

