<div id="content_files">
<div class="container-fluid">
  <div class="row-fluid">
    <%= render :partial => 'sidebar' %>
    <div class="span10">
      <% @content_files.each_with_index do |content, i| %>
        <% if i.even? %>
          <div class="row-fluid">
        <% end %>
            <div class="span6 content_summary">
              <h3 class="content_title"><%= content.title %></h3>
              <p class="content_description" id="content_description_<%= content.id %>"><%= content.description %></p>
              <div class="content_categories">
                <%= raw content.categories.collect{|tag| link_to tag.name, content_files_url(:category => tag.id)}.join(' | ') %>
              </div>
              <div class="content-action-bar">
                <% if content.word_file.to_s %>
                  <a href="http://carecontent.com/download_file?id=<%= content.id %>&type=word" class="btn btn-small btn-primary">
                    <i class="icon-download icon-white"></i>
                    Download .docx file
                  </a>
                <% end %>
                <% if !content.dreamweaver_file.to_s.nil? %>
                  <a href="http://carecontent.com/download_file?id=<%= content.id %>&type=dreamweaver" class="btn btn-small btn-primary">
                    <i class="icon-download icon-white"></i>
                    Download .html file
                  </a>
                <% end %>
              </div>
            </div>
        <% if !i.even? %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr />
  <%= render :partial => 'downloaded_content_files' %>
</div>


<div class="modal fade hide" id="myModal">
  <%= render 'users/registrations_edit' %>
</div>

<div class="modal fade hide" id="contactModal">
  <%= render 'pages/suggestions' %>
</div>

