<div class="span2">
  <ul class="nav nav-list">
    <li class="nav-header">
      <i class="icon-bookmark"></i>
        Categories
    </li>
    <li id="sidebar_all">
      <% if @category == 'all' %>
        <%= link_to "All", content_files_url, :class => "current_filter" %>
      <% else %>
        <%= link_to "All", content_files_url %>
      <% end %>
    </li>
    <% @categories.each do |category| %>
      <% if @category == category.id.to_s %>
        <li id="sidebar_<%= category.id %>"><%= link_to category.name, content_files_url(:category => category.id), :class => "current_filter" %></li>
      <% else %>
        <li id="sidebar_<%= category.id %>"><%= link_to category.name, content_files_url(:category => category.id) %></li>
      <% end %>
    <% end %>
    <li class="divider"></li>
  </ul>
  <ul class="nav nav-list">
    <li class="nav-header">
      <i class="icon-user"></i> 
        Profile
    </li>
    <li><%= link_to "Edit Profile/Change Password", "#myModal", :class => "sidebar_links", "data-toggle" => "modal" %></li>
    <li class="divider"></li>
  </ul>
  <ul class="nav nav-list">
    <li class="nav-header">
      <i class="icon-tags"></i> 
        Content Purchases 
    </li>
    <li><%= link_to "Purchase Content", plans_url, :class => "current_filter" %></li>
    <li><%= link_to "Change Your Subscription", plans_url %></li>
    <li><%= link_to "Download From Different Plan", user_purchases_url(:user_id => current_user), :class => "sidebar_links" %></li>
    <li>Current Plan Downloads:</li>
    <li style="margin-left:15px"><%= current_user.current_plan_download_count %></li>
    <li class="divider"></li>
  </ul>
  <ul class="nav nav-list">
    <li class="nav-header">
      <i class="icon-bullhorn"></i> 
        Suggestions 
    </li>
    <li><%= link_to "Give Feedback and Suggest Content Topics", "#contactModal", :class => "sidebar_links", "data-toggle" => "modal" %></li>
    <li class="divider"></li>
    <li class="nav-header">
      <i class="icon-download"></i>
        Previous Downloads 
    </li>
    <li><%= link_to "See your previous downloads", "#", :class => "sidebar_links", :id => "see_downloads" %></li>
    <li class="divider"></li>
  </ul>
</div>
