<div id="content_files">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-list">
        <div class="nav-header">
          <i class="icon-bookmark"></i>
           Categories
          <% @categories.each do |category| %>
            <li><%= link_to category.name, content_files_url(:category => category.id)%></li>
          <% end %>
        </div>
        <div class="nav-header">
          <i class="icon-user"></i> 
           Profile
           <li><%= link_to "Edit Profile/Change Password", "#myModal", :class => "sidebar_links", "data-toggle" => "modal" %></li>
        </div>
        <div class="nav-header">
          <i class="icon-bullhorn"></i> 
           Suggestions 
           <li><%= link_to "Send Feedback/Suggestions", "#", :class => "sidebar_links" %></li>
        </div>
      </ul>
    </div>
        <div class="span10">
    <% @content_files.each_with_index do |content, i| %>
      <% if i.even? %>
        <div class="row-fluid">
      <% end %>
          <div class="span6 content_summary">
            <h3 class="content_title"><%= content.title %></h3>
            <p class="content_description"><%= content.description %></p>
            <div class="content-action-bar well">
              <% if !content.word_file_url.to_s.nil? %>
                <a href="http://localhost:3000/download_file?id=#{content.id}", class="btn btn-small">
                  <i class="icon-download"></i>
                  Download
                </a>
              <% end %>
              <div class="content_categories">
                <% content.categories.each do |tag| %>
                  <%= link_to "#{tag.name} | ", content_files_url(:category => tag.id) %>
                <% end %>
              </div>
            </div>
          </div>
      <% if !i.even? %>
        </div>
      <% end %>
    <% end %>
        </div>
  </div>
</div>
</div>


<div class="modal fade hide" id="myModal">
  <div class="sign_in_out">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Edit Profile</h3>
    </div>

    <div class="modal-body">
    <%= form_for(current_user, :as => :user, :url => registration_path(:user), :html => { :class => "form-horizontal", :method => :put }) do |f| %>
    

    <div class="control-group">
      <%= f.label :first_name, :class => "control-label", :for => "first_name" %>
      <div class="controls">
        <%= f.text_field :first_name, :id => "first_name"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => "control-label", :for => "last_name" %>
      <div class="controls">
        <%= f.text_field :last_name, :id => "last_name" %>
      </div>
    </div>

    <% if !current_user.hospital.nil? %>
      <div class="control-group">
        <%= f.label :hopsital, :class => "control-label", :for => "input_hospital" %>
        <div class="controls">
          <p style="margin-top:5px"><%= current_user.hospital.name %></p>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :email, :class => "control-label", :for => "input_email" %>
      <div class="controls">
        <%= f.email_field :email, :id => "input_email" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => "control-label", :for => "password" %>
      <div class="controls">
        <%= f.password_field :password, :autocomplete => "off", :id => "password" %>
        <p class="helper-block">leave blank if you don't want to change it</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, :class => "control-label", :for => "password_confirmation" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :autocomplete => "off", :id => "password_confirmation" %>
        <p class="helper-block">if changing password, enter new password again</p>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :current_password, :class => "control-label", :for => "password_current" %>
      <div class="controls">
        <%= f.password_field :current_password, :autocomplete => "off", :id => "password_current" %>
        <p class="helper-block">enter your current password to confirm your changes</p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= link_to "Close", "#", :class => "btn", "data-dismiss" => "modal" %>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <div id="cancel_account">
      <h5>Cancel my account</h5>
      <p>Please send an email if you'd like to cancel your account.</p>
    </div>
  </div>
  <% end %>
</div>
</div>
