#hero-pricing
  .container
    .row
      .span12.center
        %h2.bold
          Don’t start from scratch. Downloads include web features, news articles, patient videos, 
          slideshows and quizzes. Then, customize them for your health care organization and service area.
.container
  #pricing-options
    .row
      .span5
        %h3.center.orange
          Pay As You Go
        %p
          Get content as needed - events, emergencies or maybe when a team member is on vacation.
      .span6.offset1
        %h3.center.orange
          Annual Subscription
        %p
          Your web content strategy requires regular e-newsletters and updated web pages. Let's stop
          scrambling and make this easy.
    .row
      .span5
        #a-la-carte-pricing.shaded-box
          - @plans.each do |plan|
            - if plan.genre == 'A la Carte'
              .row
                .span2
                  %p.bold
                    = pluralize(plan.max_downloads, "download")
                .span1
                  %p.green
                    = "$#{plan.price}"
                .span1
                  - if current_user
                    = link_to "Choose", new_user_purchase_url(current_user, :plan_id => plan.id), :class => "btn btn-primary"
                  - else
                    = link_to "Choose", unconfirmed_purchase_url(:plan_id => plan.id), :class => 'btn btn-primary'
      .span6.offset1
        #subscription-pricing.shaded-box
          - @plans.each do |plan|
            - if plan.genre == 'Annual Subscription'
              .row
                .span3
                  %p.bold
                    = "#{pluralize(plan.max_downloads, "download")}/month"
                .span2
                  %p.green
                    = "$#{plan.price}/month"
                .span1
                  -if current_user
                    = link_to "Choose", new_user_purchase_url(current_user, :plan_id => plan.id), :class => "btn btn-primary"
                  - else
                    = link_to "Choose", unconfirmed_purchase_url(:plan_id => plan.id), :class => 'btn btn-primary'

  .faqs.shaded-box
    .row
      %h2
        Frequently Asked Questions about Pricing
      .span5
        %p.bold
          How much time do I have to download my content?
        %p
          A la carte users have one year to download their content allowance. Subscribers can download content as long
          as they are active subscribers.
        %p.bold
          Are the subscription limits fixed each month?
        %p
          Yes. If you need more content, you can upgrade your subscription’s content allowance at any time after signing in. 
          If you need a lower content allowance, please contact us. 
      .span5.left-margin
        %p.bold 
          Is there an annual contract for subscribers?
        %p
          Yes.
          = link_to 'Click here for the Terms and Conditions.', terms_url, :id => 'terms-link'
        %p.bold
          How can I be sure the content is right for my health care organization?
        %p
          Try a single Pay As You Go package to make sure CareContent fits your organization’s needs. 
          Also, check out the FAQ on the
          = link_to 'About Page', about_url
          to learn more and request a free, full-length web feature.
        %p.bold
          If you have any questions, please contact Kadesha at 312-532-1362 or Kadesha@CareContent.com

