<!DOCTYPE html>
%html
  %head
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600', :rel=>'stylesheet', :type=>'text/css'}
    %title 
      = @title.nil? ? "Care Content" : @title 
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  %body
    - if @current_controller == "content_files"
      = render :partial => 'layouts/header', :locals => {:wide => true}
    -else
      = render :partial => 'layouts/header', :locals => {:wide => false}
    .container
      .row
        - if !(flash.empty?)
          - flash.each do |key, value|
            - if key == 'notice'
              %p.notice= value 
            - elsif key == 'alert'
              %p.alert= value 
    = yield
    - if @current_controller == "content_files"
      = render :partial => 'layouts/footer', :locals => {:wide => true}
    - else
      = render :partial => 'layouts/footer', :locals => {:wide => false} 
